[submodule "SpringDev/Microservices-Practice-28Mins/git-localconfig-repo"]
	path = SpringDev/Microservices-Practice-28Mins/git-localconfig-repo
	url = https://github.com/kunaltripathi7/microservices-config-repo.git
